---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "@/components/ui/Button.astro";
import { LANGUAGES } from "@/locales";

export async function getStaticPaths() {
  const paths = [];

  for (const lang of Object.keys(LANGUAGES)) {
    const t = LANGUAGES[lang].translations;

    for (const project of t.projects_page.projects) {
      paths.push({
        params: { lang, slug: project.slug },
        props: {
          project: project,
          cta_back_to_projects: t.projects_page.cta_back_to_projects,
          lang: lang,
          infoLayout: {header: t.header, sections: t.sections, footer: t.footer},
        },
      });
    }
  }
  return paths;
}

const { project, cta_back_to_projects, lang, infoLayout } = Astro.props;
---

<Layout
  title={project.title}
  description=""
  headerInfo={infoLayout.header}
  sections={infoLayout.sections}
  footerInfo={infoLayout.footer}
>
  <article class="py-24 px-6 md:px-8">
    <div class="max-w-4xl mx-auto" transition:name={project.slug}>
      <header class="text-center mb-12">
        <h1 class="font-primary text-5xl text-primary">{project.title}</h1>
      </header>

      <Image
        src={project.imgSrc}
        alt={`Imagen principal del proyecto ${project.title}`}
        width={1000}
        height={750}
        class="w-full rounded-lg shadow-lg mb-8"
      />

      <div class="prose max-w-none font-secondary text-lg text-primary">
        <p>
          {
            project.description ||
              "Información detallada sobre este proyecto..."
          }
        </p>
      </div>
    </div>

    <div class="text-center mt-16">
      <Button
        as="a"
        href={`/${lang}/projects`}
        text={cta_back_to_projects}
        fill={false}
        color="blue"
      />
    </div>
  </article>
</Layout>
