---
import AnimatedItem from "@/components/ui/AnimatedItem.astro";
import Button from "@/components/ui/Button.astro";
import { socialLinks } from "@/data/links.js";
import SectionLayout from "@/layouts/SectionLayout.astro";
import { Image } from "astro:assets";
import heroIllustration from "@/assets/canek.svg";

const { t, socials } = Astro.props;
---

<SectionLayout id="home">

  <div
    class="flex flex-col lg:flex-row gap-10 lg:gap-8 justify-between items-center lg:items-start"
  >
    <article class="flex flex-col gap-6 sm:gap-8 text-center lg:text-left lg:max-w-[50%]">

      <AnimatedItem>
        <span
          class="w-max font-secondary text-md sm:text-lg md:text-2xl uppercase text-primary"
          >{t.location}</span
        >
      </AnimatedItem>

      <AnimatedItem delay={200}>
        <h1
          class="font-primary text-5xl md:text-6xl lg:text-[7rem] text-primary leading-none"
        >
          {t.title}
        </h1>
      </AnimatedItem>

      <AnimatedItem delay={400}>
        <p
          class="font-secondary text-sm xs:text-base sm:text-md md:text-lg leading-[160%] text-primary mx-auto lg:mx-0"
        >
          {t.description}
        </p>
      </AnimatedItem>

      <div
        class="flex flex-col flex-wrap sm:flex-row gap-2 md:gap-4 justify-center lg:justify-start"
      >
        <AnimatedItem delay={600}>
          <Button
            as="a"
            text={t.ctaPrimary}
            href="#contact"
            fill={true}
            color="blue"
            arrow={true}
          />
        </AnimatedItem>

        <AnimatedItem delay={800}>
          <Button
            as="a"
            text={t.ctaSecondary}
            href="#projects"
            fill={false}
            color="blue"
            arrow={true}
          />
        </AnimatedItem>
      </div>
    </article>

    <div class="flex flex-col items-end lg:flex-1 gap-15">
      
      <Image
        src={heroIllustration}
        alt={t.imageAlt}
        title={t.imageAlt}
        class="block m-auto lg:m-0 w-full max-w-sm lg:max-w-lg"
        loading="eager"
      />
    </div>
    <div class="flex lg:hidden items-center gap-4 md:gap-6">
      {
        socialLinks.map((link, index) => (
          <AnimatedItem
            className="transition-all hover:-translate-y-1"
            delay={index * 200}
          >
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              title={link.name}
              aria-label={socials[link.ariaLabelKey]}
              class="text-primary transition-all hover:text-primary-hover"
            >
              <link.icon class="w-8 sm:w-9 h-8 sm:h-9" />
            </a>
          </AnimatedItem>
        ))
      }
    </div>
  </div>
</SectionLayout>
