---
interface Props {
  from?: number;
  to: number;
  duration?: number;
  suffix?: string;
  className?: string;
}

const { 
  from = 0, 
  to, 
  duration = 1500,
  suffix = '', 
  className,
} = Astro.props;
---

<span
  class:list={["animated-counter", className]}
  data-animate="counter"
  data-from={from}
  data-to={to}
  data-duration={duration}
  data-suffix={suffix}
>
  {from}{suffix}
</span>