---
import ArrowIcon from '@/icons/Arrow.astro';

const {
  as = 'a',
  fill = false,
  color = 'primary',
  arrow = false,
  href,
  text,
  ...rest
} = Astro.props;

const wrapperBase = "textured-border-wrapper w-full md:w-auto min-w-min group relative inline-flex p-[3px] rounded-full z-0";

const contentBase = "font-secondary flex items-center justify-center gap-4 font-semibold px-6 md:px-8 py-3 rounded-full transition-all duration-300 ease-in-out w-full h-full border-2 text-sm xs:text-base sm:text-md md:text-lg";

const fillStyles = fill
  ? (color === 'primary' ? 'bg-primary text-secondary border-primary' : 'bg-secondary text-primary border-secondary')
  : (color === 'primary' ? 'bg-transparent text-primary border-primary' : 'bg-transparent text-secondary border-secondary');

const hoverStyles = fill
  ? 'hover:-translate-y-1'
  : 'hover:bg-primary-light hover:-translate-y-1';

const contentClasses = `${contentBase} ${fillStyles} ${hoverStyles}`;

const Tag = as;
---

<Tag href={as === 'a' ? href : undefined} class={wrapperBase} {...rest}>
  <div class={contentClasses}>
    {text}{arrow && (
      <ArrowIcon class="transition-transform hidden xs:block duration-300 group-hover:translate-x-2" />
    )}
  </div>
</Tag>